// Place all the styles related to the Tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

#states-block {
    margin: 0px 50px;
}

#states-block * + * {
    margin-left: 10px;
}

#charts {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.filter-values,
[id $= '-options'] {
  display: none;
}